a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

body {
  height: 100%;
  font-family: "Lato", sans-serif;
  color: #3c4147;
}

:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.body_wrapper {
  overflow: hidden;
}

@media (min-width: 768px) {
  .frm-vh-md-100 {
    height: 100vh;
  }
}

.custom_container {
  max-width: 1480px;
}

.formify_body {
  height: 100%;
  overflow-y: auto;
  width: 100%;
  position: relative;
  z-index: 1;
}

.formify_box {
  background: #ffffff;
  border: 1.2px solid #ffffff;
  box-shadow: 0px 2px 50px rgba(56, 123, 201, 0.2);
  border-radius: 5px;
  margin: 1.75rem auto;
  max-width: 580px;
  width: 100%;
  padding: 40px 80px;
}

.form_title {
  font-size: 28px;
  line-height: 1.5;
  color: #20292f;
  font-weight: 700;
  margin-bottom: 22px;
}

.btn-social {
  border: 0px;
  font-size: 16px;
  color: #353535;
  background: #e2f6f2;
  border-radius: 5px;
  font-weight: 600;
  font-family: "LatoSemibold", sans-serif;
  width: 100%;
  padding: 15px 0px;
  position: relative;
  z-index: 1;
}

.btn-social:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.15);
  transform: scaleX(0);
  transform-origin: right;
  transition: all 0.5s linear;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-property: transform;
  z-index: -1;
}

.btn-social .icon {
  margin-right: 8px;
  font-size: 23px;
}

.btn-social:focus {
  outline: none;
  box-shadow: none;
}

.btn-social:hover {
  color: #fff;
}

.btn-social:hover:before {
  transform: scaleX(1);
  transform-origin: left;
}

.btn-google:hover {
  color: #353535;
}

.btn-google-red {
  background: #dd4b39;
  color: #fff;
}

.btn-twitter {
  background: #3b5998;
  color: #fff;
}

.input_title {
  font-size: 16px;
  font-weight: 600;
  font-family: "LatoSemibold", sans-serif;
  color: #20292f;
}

.signup_form .form-group {
  position: relative;
}

.signup_form .form-group:not(:first-child) {
  margin-top: 24px;
}

.signup_form .form-group .top_text {
  background: #fff;
  position: absolute;
  bottom: 15px;
  color: #9ba5a0;
  font-size: 16px;
  font-weight: 400;
  left: 14px;
  overflow: hidden;
  padding: 0 8px;
  text-overflow: ellipsis;
  transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1), opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
  white-space: nowrap;
  width: auto;
  z-index: 1;
  margin-bottom: 0;
}

.form_footer_text {
  font-size: 14px;
  line-height: 22px;
  color: #20292f;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 1rem;
}

.form_footer_text a {
  color: #0073ec;
}

.thm_btn {
  width: 100%;
  font-size: 16px;
  line-height: 25px;
  font-weight: 700;
  background: #0073ec;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 14px 53px;
  box-shadow: none;
  transition: all 0.2s linear;
  margin-top: 5px;
}

.thm_btn:focus,
.thm_btn:hover {
  outline: none;
  color: #fff;
  transform: translateY(-3px);
  box-shadow: 0 4px 11px rgba(241, 103, 67, 0.46);
}

.next_button {
  margin-top: 20px;
}

.top_logo {
  position: absolute;
  top: 30px;
  left: 0px;
  padding-left: 50px;
  display: block;
}

.formify_left_fullwidth {
  flex: 0 0 auto;
  width: 32.75%;
}

.formify_right_fullwidth {
  flex: 0 0 auto;
  width: 67.25%;
  flex-wrap: wrap;
  overflow-y: auto;
}

.formify_right_fullwidth .form_title {
  font-size: 30px;
  margin-bottom: 34px;
}

.formify_right_fullwidth .formify_content_body {
  width: 480px;
  margin-left: -80px;
}

.form_tab {
  width: 100%;
  margin-bottom: 30px;
}

.form_tab .nav-item {
  display: inline-block;
  width: 50%;
}

.form_tab .nav-item .nav-link {
  padding: 0px 0px 14px;
  font-size: 16px;
  color: #9ea3a8;
  font-weight: 500;
  font-family: "LatoMedium", sans-serif;
  border-radius: 0px;
  border: 0px;
  text-align: center;
  display: block;
  border-bottom: 1px solid #dfe0e2;
  position: relative;
}

.form_tab .nav-item .nav-link:before {
  content: "";
  width: 100%;
  height: 1px;
  background: #0055fb;
  bottom: -0.5px;
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 0.5s linear;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-property: transform;
}

.form_tab .nav-item .nav-link.active {
  color: #0073ec;
}

.form_tab .nav-item .nav-link.active:before {
  transform: scaleX(1);
  transform-origin: left;
}

.formify_signup_fullwidth_two .formify_left_fullwidth {
  width: 44%;
}

.formify_signup_fullwidth_two .formify_right_fullwidth {
  width: 56%;
}

.formify_signup_fullwidth_two .formify_right_fullwidth .formify_box {
  box-shadow: none;
  padding: 40px 30px 30px;
}

.formify_signup_fullwidth_two .formify_right_fullwidth .formify_box .btn-google {
  background: #f7f8f9;
  border: 1px solid #dee0e2;
}

.formify_signup_fullwidth_two .formify_right_fullwidth .formify_box .signup_form .form-group {
  margin-top: 25px;
  margin-bottom: 0;
}

.formify_signup_fullwidth_two .formify_right_fullwidth .formify_box .signup_form .form-group .thm_btn {
  display: inline-block;
  width: auto;
}

.formify_signup_fullwidth_two .formify_right_fullwidth .formify_box .condition_text {
  margin-top: 28px;
}

.red_btn {
  width: auto;
  text-transform: capitalize;
  background: #f7345e;
}

.red_btn i {
  font-size: 20px;
  vertical-align: middle;
  transition: all 0.2s linear;
  display: inline-block;
}

.red_btn:hover {
  box-shadow: 0 4px 11px rgba(247, 52, 94, 0.3);
}

.red_btn:hover i {
  transform: translateX(8px);
}

.formify_signup_fullwidth_two {
  z-index: inherit;
}

.formify_signup_fullwidth_two .form_tab_two {
  position: relative;
  z-index: 50;
}

.formify_signup_fullwidth_two .form_tab_two .form_tab {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 0px;
  max-width: 650px;
  margin-bottom: 45px;
  overflow: hidden;
  position: relative;
}

.formify_signup_fullwidth_two .form_tab_two .form_tab li {
  margin-bottom: 0;
  width: auto;
}

.formify_signup_fullwidth_two .form_tab_two .form_tab li .nav-link {
  font-size: 15px;
  color: #b0b9c1;
  font-weight: 600;
  font-family: "LatoSemibold", sans-serif;
  text-align: center;
  border: 0px;
  padding-bottom: 0;
}

.formify_signup_fullwidth_two .form_tab_two .form_tab li .nav-link:before {
  bottom: auto;
  top: 13px;
  height: 2px;
  right: 50%;
  left: auto;
}

.formify_signup_fullwidth_two .form_tab_two .form_tab li .nav-link:after {
  content: "";
  width: 100%;
  position: absolute;
  display: inline-block;
  background: #e8ecf1;
  height: 2px;
  top: 13px;
  right: 58%;
  transition: all 0.3s linear;
}

.formify_signup_fullwidth_two .form_tab_two .form_tab li .nav-link span {
  width: 28px;
  height: 28px;
  border: 1px solid #e1e5ea;
  color: #b0b9c1;
  background: #fff;
  font-size: 13px;
  display: flex;
  justify-content: center;
  line-height: 28px;
  position: relative;
  margin: 0 auto 15px;
  border-radius: 50%;
  z-index: 3;
  transition: all 0.4s linear;
}

.formify_signup_fullwidth_two .form_tab_two .form_tab li .nav-link.active,
.formify_signup_fullwidth_two .form_tab_two .form_tab li .nav-link.complete {
  color: #20292f;
}

.formify_signup_fullwidth_two .form_tab_two .form_tab li .nav-link.active:before,
.formify_signup_fullwidth_two .form_tab_two .form_tab li .nav-link.complete:before {
  z-index: 1;
}

.formify_signup_fullwidth_two .form_tab_two .form_tab li .nav-link.active span,
.formify_signup_fullwidth_two .form_tab_two .form_tab li .nav-link.complete span {
  border-color: #0055fb;
  color: #0055fb;
}

.formify_signup_fullwidth_two .form_tab_two .form_tab li .nav-link.complete:after {
  background: #0055fb;
}

.formify_signup_fullwidth_two .form_tab_two .formify_box {
  max-width: 650px;
  margin-top: 0;
  padding: 0px;
  margin-bottom: 0;
}

.formify_signup_fullwidth_two .form_tab_two .formify_box .form_title {
  font-weight: 700;
  font-size: 30px;
  color: #20292f;
  margin-bottom: 15px;
}

.formify_signup_fullwidth_two .form_tab_two .formify_box .form_title span {
  color: #0055fb;
}

.formify_signup_fullwidth_two .form_tab_two .formify_box .signup_form .form-group {
  margin-top: 20px;
}

/* ===================== niceselect ===================== */

.niceselect {
  display: block;
  width: 100%;
  height: 45px;
  padding-left: 15px;
  color: #000000;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  line-height: 45px;
  font-weight: 400;
  background: #f0f4f8;
  border: 1px solid #f0f4f8;
  border-radius: 3px;
}

.niceselect:after {
  width: 8px;
  height: 8px;
  border-color: #0055fb;
  right: 18px;
  margin-top: -5px;
}

/* ===================== Form control ===================== */

.form-control {
  z-index: 2;
  position: relative;
  height: 45px;
  padding: 0px;
  padding-left: 15px;
  color: #20292f;
  font-size: 15px;
  line-height: 45px;
  background: #f0f4f8;
  border: 1px solid #f0f4f8;;
  border-radius: 3px;
  box-shadow: none;
  transition: all 0.3s;
}

.form-control.placeholder {
  color: #a4b0ba;
}

.form-control:-moz-placeholder {
  color: #a4b0ba;
}

.form-control::-moz-placeholder {
  color: #a4b0ba;
}

.form-control::-webkit-input-placeholder {
  color: #a4b0ba;
}

.form-control:focus {
  outline: none;
  /* box-shadow: 0 10px 10px rgba(0, 123, 255, 0.09); */
}
